<section class="about" id="about">
	<div class="container about__container">
		<h2 class="about__title title">What we want to do</h2>
		<p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, reprehenderit. A obcaecati
			numquam harum quasi. Odit, sequi maxime dignissimos adipisci eligendi blanditiis, expedita illum eum excepturi
			ullam optio hic veritatis!</p>
		<p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt modi ex rerum rem
			quasi possimus fugiat libero aspernatur tempore?</p>
		<p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti exercitationem, ex
			repellendus possimus velit labore facere ut similique quod amet! Similique maxime voluptate, quisquam unde quaerat
			accusantium repudiandae. Aspernatur dignissimos debitis est perspiciatis dicta iusto.</p>
		<p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad animi sunt quo repellat
			magni culpa voluptates. Odio inventore porro autem natus quia quod corrupti, excepturi libero explicabo ratione
			nihil aspernatur repellendus eius?</p>
	</div>
</section>