<section class="objectives">
	<div class="container objectives__container">
		<h2 class="objectives__title title">Main objectives</h2>
		<ul class="objectives__list">
			<li class="objectives__item">
				<div class="objectives__number">01</div>
				<div class="objectives__text">
					Bridge other blockchains to IC to boost the IC ecosystem
				</div>
			</li>
			<li class="objectives__item">
				<div class="objectives__number">02</div>
				<div class="objectives__text">
					Create a metaverse game (think Decentraland) entirely on the IC: the only metaverse that is open and played on
					the blockchain
				</div>
			</li>
		</ul>
	</div>
</section>